<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <link href="/css/header.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header id="header">
        <nav class='nav__container'>
            <span class="nav__home">Karma</span>
            <ul>
                <li class="nav__list"><a class="nav__home">홈화면</a></li>
                <li class="nav__list"><a class="nav__register">회원가입</a></li>
                <li class="nav__list"><a class="nav__login">로그인</a></li>
                <li class="nav__list"><a class="nav__logout">로그아웃</a></li>
                <li class="nav__list"><a class="nav__feed">피드</a></li>
            </ul>
            <span class="nav__username">유저명</span>
        </nav>
    </header>
</body>
</html>