<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 업로드</title>
</head>
<body>
    <h1>Index 페이지</h1>

        <input id="input_file" 
            type="file"/>
           
        <button id="upload_button">
            업로드
        </button>

        <a href="/download">test.jpg 다운로드</a>

    <script>

        const input_file = document.getElementById('input_file');
        const upload_btn = document.getElementById('upload_button');
        const download_btn = document.getElementById('download_button');

        upload_btn.onclick = ()=>{
            const selected_file = input_file.files[0];      
            const form_data = new FormData();               // formData 객체 생성
            form_data.append('file', selected_file)         // file이라는 이름으로 데이터 삽입
            var xhr = new XMLHttpRequest();                 
            xhr.open('POST', '/upload', true)               // upload라는 주소로 서버에 POST 요청 쏘기
            xhr.send(form_data);                            // 보내기
            };

        download_btn.onclick = ()=>{
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/download', true);
            xhr.send();
        }
    
    </script>

</body>
</html>