{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <form action="/myApp/main/writeAction" method="POST">
            <legned class="border-bottom mb-4">글쓰기</legned>
            <input type='text' class="form-control" name='title' placeholder="제목">
            <input type='text' class="form-control" name='text' placeholder="내용">
            <input type='submit' class="btn btn-outline-info" value="업로드"></input>
        </form>
    </div>  

{% endblock content %}
