<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
    <header id="header"/>
    <main>
        <form id="add__form">
            <div>
                <label for="title">제목</label>
                <input id="title" name="title"/>
            </div>
            <div>
                <label for="content">본문</label>
                <textarea id="content" name="content"></textarea>
            </div>
            <button type="submit">제출</button>
        </form>
    </main>
    <footer id="footer"/>
</body>
</html>