<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>단건조회</title>
</head>
<body>
    <header id="header"/>
    <main>
        <h1>게시글 단건조회 화면</h1>

        <div id="feed__box">
            <div>
                <label for="feed__title">제목</label>
                <span id="feed__title">제목</span>
            </div>

            <div>
                <label for="feed__content">본문</label>
                <span id="feed__content">본문</span>
            </div>

            <div>
                <button id="btn__back">뒤로가기</button>
            </div>

            <!--TODO : 댓글작성-->
<!--            <div>-->
<!--                <form action="#" method="post">-->
<!--                    <input name="content"/>-->
<!--                </form>-->
<!--            </div>-->

            <div>
                <ul id="comment__box">
                    <li id="comment">
                        <span id="comment__content">댓글</span>
                        <span id="comment__createdAt">작성시간</span>
                        <span id="comment__createdBy">작성자</span>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer id="footer"/>
</body>
</html>