<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!-- 로그인 버튼 클릭시 basic.py의 login 함수 실행 -->
    <form action="http://localhost:8080/login" method="GET">
        <center>
            <h1>로그인</h1>
            <p>
                아이디 : <input type="text" name="user_id"/>
            </p>
            <p>
                패스워드 : <input type="password" name="password"/>
            </p>
    
            <input type="submit" value = "로그인"/>
        </center>           
    </form>
</body>
</html>