<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Down</title>
</head>
<body>
    <h1>Test</h1>
    <div>
        <label for="link">YouTube Link</label>
        <input type="text" id="link" placeholder="Type youtube link"/>
        <select id="option">
            <option>Audio</option>
            <option>Video</option>
        </select>
        <button id="submit-button" onclick="clickEvent()">Submit</button>
    </div>

    <script>

        const clickEvent = ()=>{
            const link = document.getElementById('link').value;
            const optionElement = document.getElementById('option')
            const option = optionElement.options[optionElement.selectedIndex].value;
            location.href = `/download?option=${option}&link=${link}`;
        };

    </script>
</body>
</html>