<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/index.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/header.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header id="header">
        <nav class='nav__container'>
            <span>Karma</span>
            <ul>
                <li class="nav__list"><a href="/">홈화면</a></li>
                <li class="nav__list"><a href="/register">회원가입</a></li>
                <li class="nav__list"><a href="/login">로그인</a></li>
                <li class="nav__list"><a href="/logout">로그아웃</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>