<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>수정</title>
</head>
<body>
    <header id="header"/>
    <main>
        <h1>Feed Page</h1>

        <div id="feed__box">
            <div>
                <label for="feed__title">제목</label>
                <span id="feed__title">제목</span>
            </div>

            <div>
                <label for="feed__content">본문</label>
                <span id="feed__content">본문</span>
            </div>

           <div>
                <label for="feed__createdAt">작성시간</label>
                <span><time id="feed__createdAt">22년 12월 21일 12시 21분</time></span>
            </div>

            <div>
                <label for="feed__createdBy">작성자</label>
                <span id="feed__createdBy">작성자</span>
            </div>

            <button><a id="detail__link">자세히보기</a></button>

        </div>

    </main>
    <footer id="footer"/>
</body>
</html>