<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>

    <header>Header</header>

    <main>
        <aside>
            <p><span>Karma</span></p>
            <p><a href="nsm4421@naver.com">nsm4421@naver.com</a></p>
            <p><time datetime="2022-07-29T00:00:00">2022-07-29</time></p>
            <p># Java Spring</p>
        </aside>

        <section>

            <form>
                <label for="comment">Comment</label>
                <textarea placeholder="Write Comment" id="comment"></textarea>
                <button type="submit">Submit</button>
            </form>

            <ul>
                <li>
                    <time><small>2022-07-29</small></time>
                    <strong>Comment Writer _ Test</strong>
                    <p>Comment _ Test</p>
                </li>
            </ul>

            <nav>
                <a href="#">Previous Article</a>
                <a href="#">Next Article</a>
            </nav>

        </section>
    </main>

    <footer>Footer</footer>

</body>
</html>