<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
  <header id="header"/>

  <main>
    <header id="sub-header">Sub Header</header>

    <aside>
      <p><span>Username</span></p>
      <p><span>Email</span></p>
      <p><time datetime="2022-11-11">2022-11-11</time></p>
      <p><span>Hashtag</span></p>
    </aside>

    <section>
      <div>
        <!--Write Comment-->
        <form>
          <label for="comment-input"></label>
          <textarea id="comment-input" name="comment-input" rows="5" placeholder="comment..."></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>

      <!--Comments-->
      <div>
        <ul>
          <li>
            <div>
              <p>Test Written By1</p>
              <p>Test Comment1</p>
              <p>Test Written At1</p>
            </div>
          </li>
          <li>
            <div>
              <p>Test Written By2</p>
              <p>Test Comment2</p>
              <p>Test Written At2</p>
            </div>
          </li>
          <li>
            <div>
              <p>Test Written By3</p>
              <p>Test Comment3</p>
              <p>Test Written At3</p>
            </div>
          </li>
        </ul>
      </div>

      <nav>
        <ul>
          <li><a>Previous Article</a></li>
          <li><a>Next Article</a></li>
        </ul>
      </nav>

    </section>
  </main>

  <footer id="footer"/>
</body>
</html>